<!DOCTYPE html>
<html>
<head>
  <title>Search Books</title>
</head>
<body>
  <h2>Search Results</h2>
  
  <% if (results.books.length > 0) { %>
    <ul>
      <% results.books.forEach(function(book) { %>
        <li>ID: <%= book.id %>, &nbsp;&nbsp; Publication date: <%= book.publicationDate %>, &nbsp;&nbsp; Authors: <%= book.authors %></li>
      <% }); %>
    </ul>
  <% } else{ %>
    <p>No books found.</p>
  <% } %>
</body>
</html>
