<!DOCTYPE html>
<html>
<head>
  <title>Books by Publication Date</title>
</head>
<body>
  <h2>Books with Publication Date <%= date %></h2>
  
  <% if (results.books.length > 0) { %>
    <ul>
      <% results.books.forEach(function(book) { %>
        <li>ID: <%= book.id %>, &nbsp;&nbsp; Name: <%= book.name %>, &nbsp;&nbsp; Authors: <%= book.authors %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No books found for the given date.</p>
  <% } %>
  
</body>
</html>
