<!DOCTYPE html>
<html>
<head>
  <title>Journals Report</title>
</head>
<body>
  <h2>Journals Report</h2>
  
  <% if (results.journals.length > 0) { %>
    <ul>
      <% results.journals.forEach(function(journal) { %>
        <li>ID: <%= journal.id %>, &nbsp;&nbsp; Name: <%= journal.name %>, &nbsp;&nbsp; Publication date: <%= journal.publicationDate %>, &nbsp;&nbsp; Authors: <%= journal.authors %></li>
      <% }); %>
    </ul>
  <% } else { %>
    <p>No journals found.</p>
  <% } %>
</body>
</html>